@import "variables";

 .login-fill {
     min-height: 100vh;
 }

 .game-window {
    height: 100%;
 }

 .fixed-height-3 {
    height: 3px;
 }

 .sidebar {
     background-color: $dark;
 }

 .text-container {
     min-height: 30vh;
     max-height: 30vh;
 }

 #text-log, #text-input{
     outline: 0 !important;
     resize: none;
     background-color: darken($light, 10%);
     border: solid 2px $dark;
     padding: 0.3em 1em 0.3em 1em;
     overflow-y: scroll;
 }

 #text-log:disabled {
    color: $dark !important;
 }

 #text-input {
     overflow: hidden;
     border-top: none !important;
 }
//  #text-input {
//      overflow: hidden;
//      outline: 0 !important;
//      resize: none;
//  }

 #text-input:focus {
     outline: 0 !important;
 }

 img.room-image {
     max-height: 55vh;
     max-width: 69vw;
     display: block;
 }

 .ooc {
     font-weight: normal;
     color: darken(orange, 30%);
 }

 .ooc-prefix {
    font-weight: bold;
 }

 .inventory-container {
     background-color: lighten($dark, 10%);
 }

 .inventory-space {
     background-color: lighten($dark, 20%);
     height: 4rem;
 }

 .player-container {
     background-color: lighten($dark, 10%);
 }

 .player-space {
     background-color: lighten($dark, 20%);
     border: 0.2rem;
     border-color: $dark;
     font-weight: bold;
     font-size: 1.2rem;
 }

 .alf-sidebar > .row {
     padding-top: 1rem;
     padding-bottom: 1rem;
 }