<head>
    <title>Alfhiem Landing</title>
    
    <link rel="stylesheet" type="text/css" href="/static/site.css">

    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">

</head>