<head>
    <title>Alfhiem Landing</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/alfbootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <script type="text/javascript">
    const renderConsts = {
        username: "{{username}}"
    }
    </script>
</head>