<head>
    <title>Alfhiem Landing</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/alfbootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>