<html>
    {{> header }}
    <body>
    test page {{part}}

    <img src="/static/images/placeholder.svg" width=100px height=100px />
    <div class="alert alert-success" role="alert">
        This is a success alert—check it out!
    </div>
    <div id="app"></div>
    </body>
    {{> jsinc }}
</html>