<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="container-fluid">
                    <h2 class="display-4">Welcome to Alfheim</h2>
                    <p>Click below to sign up and join.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/login/create" class="btn btn-primary mx-auto">Sign Up</a>
        </div>
        <div class="col text-center">
            <a href="/login" class="btn btn-success mx-auto">Log in</a>
        </div>
    </div>
    <br><br>
    <div class="row">

        test page {{part}}

        <img src="/static/images/placeholder.svg" width=100px height=100px />
        <div class="alert alert-success" role="alert">
            This is a success alert—check it out!
        </div>
        <div id="app"></div>
    </div>
    <div class="row">
        <h2>Hello {{ username }}</h2>
    </div>
</div>