<div class="container-flex d-flex login-fill">
    <div class="col-6 bg-info d-flex flex-column text-light flex-grow-1">
        <div class="row flex-grow-1 align-items-center">
            <div class="col text-right">
                <div class="p-5">
                    <h1>Sign in to Alfheim</h1>
                </div>
            </div>
        </div>

    </div>
    <div class="col-6 d-flex flex-column flex-grow-1">
        <div class="row flex-grow-1 align-items-center">
            <div class="col">
                <div class="p-5">
                    <form action="javascript:void(0);" onSubmit="loginsubmit();">
                        <div id="loginerror" class="alert alert-danger d-none">
                        </div>
                        <div class="form-group">
                            <label for="usernameinput">Username</label>
                            <input type="text" class="form-control" id="usernameinput">
                            <small class="form-text text-muted">
                                This is your username that you use to log in with, not your display name
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="passwordinput">Password</label>
                            <input type="password" class="form-control" id="passwordinput">
                        </div>
                        <button type="button" class="btn btn-info" onclick="loginsubmit();">Log In</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{{!-- Temporary Hack --}}
<script type="text/javascript">
    function loginsubmit() {
        let uname = $('#usernameinput').val();
        let pass = $('#passwordinput').val();

        $.ajax({
            type: 'POST',
            url: '/login/ajax/auth',
            data: {
                user: uname,
                pass: pass,
            },
            success: function () {
                window.location.pathname = "/game";
            },
            error: function (e) {
                $('#loginerror').html("Error logging in: " + e.statusText + ", " + e.responseJSON);
                $('#loginerror').removeClass('d-none');
            }
        });
    }
</script>